/***** Header *****/
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
}

.bg-background {
    background: url("/public/img/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/***** MOBILE MENU *****/
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

/***** End MOBILE MENU *****/

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/***** End Header *****/

/***** FOOTER *****/
footer {
    background-color: #23232e;
    color: #ffffff;
    padding: 1rem 1rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #cccccc;
}


.container-footer {
    max-width: 1200px;
    margin: 0 auto
}

.footer-main {
    display: flex;
    margin-bottom: 0rem;
}


.footer-colum {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
}

.footer-heading {
    margin-bottom: 1rem;
}

.footer-link {
    /*display: block;*/
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
}

.copyright {
    margin-right: auto;
}

.footer-social {
    font-size: 20px;
    margin-left: 2rem;
}

/*
.footer-main{
    flex-direction: column;
} */

/***** End FOOTER *****/


/***** MEDIA QUERIE & KEY FRAMES *****/
@media only screen and (max-width: 720px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 80vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/***** End MEDIA QUERIE & KEY FRAMES *****/


/***** Login *****/

.container-form{
    --color-primary: #009579;
    --color-pramary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 18px;
}

.form__hidden{
    display: none;
}

.container__form{
    width: 480px;
    height: 520px;
    /*max-width: 350px;*/
    margin: 0rem;
    padding: 1rem;
    box-shadow:  0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #23232e;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
    color: #ffffff;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error{
    color: var(--color-error);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;

}

.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input--error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form___button{
    display: flex;
    justify-content: center;
}

.form__button{
    width: auto;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover{
    background: var(--color-pramary-dark);
}

.form__button:active{
    transform: scale(0.98);
}

.form__text{
    margin: 1rem;
    text-align: center;
}

.form__link{
    cursor: pointer;
}

/***** End Login *****/